[submodule "client/deps/raylib"]
	path = client/deps/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "client/deps/range-v3"]
	path = client/deps/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "client/deps/raylib-cpp"]
	path = client/deps/raylib-cpp
	url = git@github.com:RobLoach/raylib-cpp.git
[submodule "client/deps/fmt"]
	path = client/deps/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "client/deps/protobuf"]
	path = client/deps/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "client/deps/raygui"]
	path = client/deps/raygui
	url = git@github.com:raysan5/raygui.git
[submodule "client/deps/spdlog"]
	path = client/deps/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "client/deps/gsl"]
	path = client/deps/gsl
	url = git@github.com:microsoft/GSL.git
[submodule "client/deps/docopt.cpp"]
	path = client/deps/docopt.cpp
	url = git@github.com:docopt/docopt.cpp.git
[submodule "client/deps/date"]
	path = client/deps/date
	url = git@github.com:HowardHinnant/date.git
